<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web0808</display-name>
 
 <!--  
 web.xml 이란?
 일명 DD(Deployment Descriptor)라 불리며, 주 역할은 서버에 배포된 하나의 웹 어플리케이션에 대한 각종 설정을 담당한다.
 예) 서블릿의 매핑(mapping), 어플리케이션과 관련된 이벤트, 인코딩
  -->
  <!-- 서블릿은 클래스이므로, 웹 브라우저로 직접 접근할 수 없고, 또한 컴파일 결과물이 
  WEB-INF/class에 위치하므로, WEB-INF 특징상 보안된 디렉토리 이므로, 브라우저의 url로 직접 접근 불가능하다
  따라서 서블릿을 실행하느 위해 DD내에서 URL간의 간접 매핑을 통해 가능하다 -->
  <servlet>  
  <servlet-name>testServlet</servlet-name>
  <servlet-class>web0808.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>testServlet</servlet-name>
  <url-pattern>/test</url-pattern> <!-- 브라우저로 요청할 자원의 경로 -->
  </servlet-mapping>
  
   <servlet>  
  <servlet-name>guguServlet</servlet-name>
  <servlet-class>web0808.servlet.GuGuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>guguServlet</servlet-name>
  <url-pattern>/gugu</url-pattern> <!-- 브라우저로 요청할 자원의 경로 -->
  </servlet-mapping>
</web-app>