<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<!-- 톰캣이 가동될때를 감지하는 리스너를 활용해보자 서버가 가동될때 메모리에 올리고싶은 객체 등이 있을때.. -->
	<listener>
		<listener-class>com.academy.model2app0831.listener.MyListener</listener-class>
	</listener>
	<context-param> <!-- 서버가 켜질때 리스너에 전달해주고 싶은 param -->
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mapping.properties</param-value>
	</context-param>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>com.academy.model2app0831.controller.DispatcherServlet</servlet-class>
		<!-- 이 서블릿이 init에 의해 초기화 될때 개발자가 전달하고 싶은 데이터가 있다면 아래의 태그를 이용할 수 있다 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>